[Unit]
Description=LXC Android Config and Container Initialization
Requires=cgmanager.service
Wants=upstart-local-bridge.service
After=cgmanager.service upstart-local-bridge.service

[Service]
Type=forking
ExecStartPre=/usr/lib/lxc-android-config/copy-udev-unflipped
ExecStart=/usr/bin/lxc-start -n android -d -- /init
ExecStartPost=/usr/lib/lxc-android-config/lxc-android-ready
ExecStop=/usr/bin/lxc-stop -n android -k

[Install]
WantedBy=multi-user.target
